### Using NLTK

In [1]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

In [2]:
text = "Apple acquired Zoom in India on Wednesday 6th May 2020.\
This news has made Apple and Google stock jump by 5% on Nifty Index in the \
United States of America"

In [3]:
words=nltk.word_tokenize(text)
words[:8]

['Apple', 'acquired', 'Zoom', 'in', 'India', 'on', 'Wednesday', '6th']

In [4]:
pos_tagging= nltk.pos_tag(words)
pos_tagging[:10]

[('Apple', 'NNP'),
 ('acquired', 'VBD'),
 ('Zoom', 'NNP'),
 ('in', 'IN'),
 ('India', 'NNP'),
 ('on', 'IN'),
 ('Wednesday', 'NNP'),
 ('6th', 'CD'),
 ('May', 'NNP'),
 ('2020.This', 'CD')]

In [5]:
#check nltk help for description of the tag
print(nltk.help.upenn_tagset('CD')) , print(nltk.help.upenn_tagset('NNP'))

CD: numeral, cardinal
    mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-
    seven 1987 twenty '79 zero two 78-degrees eighty-four IX '60s .025
    fifteen 271,124 dozen quintillion DM2,000 ...
None
NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...
None

(None, None)

In [6]:
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [7]:
chunks = nltk.ne_chunk(pos_tagging, binary=True) #either NE or not NE
for chunk in chunks:
    print(chunk, end= " ")

(NE Apple/NNP) ('acquired', 'VBD') ('Zoom', 'NNP') ('in', 'IN') (NE India/NNP) ('on', 'IN') ('Wednesday', 'NNP') ('6th', 'CD') ('May', 'NNP') ('2020.This', 'CD') ('news', 'NN') ('has', 'VBZ') ('made', 'VBN') (NE Apple/NNP) ('and', 'CC') (NE Google/NNP) ('stock', 'NN') ('jump', 'NN') ('by', 'IN') ('5', 'CD') ('%', 'NN') ('on', 'IN') (NE Nifty/NNP Index/NNP) ('in', 'IN') ('the', 'DT') (NE United/NNP States/NNPS) ('of', 'IN') (NE America/NNP)

In [8]:
"""# declaring class
class GfG:
    name = "GeeksforGeeks"
    age = 24
 
 
# initializing object
obj = GfG()
 
# use of hasattr to check motto
start_hasattr = time.time()
if(hasattr(obj, 'motto')):
    print("Motto is there")
else:
    print("No Motto")"""

'# declaring class\nclass GfG:\n    name = "GeeksforGeeks"\n    age = 24\n \n \n# initializing object\nobj = GfG()\n \n# use of hasattr to check motto\nstart_hasattr = time.time()\nif(hasattr(obj, \'motto\')):\n    print("Motto is there")\nelse:\n    print("No Motto")'

In [9]:
entities =[]
labels =[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        #print(chunk)
        entities.append(' '.join(c[0] for c in chunk)) ## c[0] tuple slicing ##
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

        Entities Labels
0        America     NE
1  United States     NE
2          Apple     NE
3    Nifty Index     NE
4          India     NE
5         Google     NE

#### binary=False

In [10]:
chunks = nltk.ne_chunk(pos_tagging, binary=False) #either NE or not NE
for chunk in chunks:
    print(chunk, end= " ")

(PERSON Apple/NNP) ('acquired', 'VBD') (PERSON Zoom/NNP) ('in', 'IN') (GPE India/NNP) ('on', 'IN') ('Wednesday', 'NNP') ('6th', 'CD') ('May', 'NNP') ('2020.This', 'CD') ('news', 'NN') ('has', 'VBZ') ('made', 'VBN') (PERSON Apple/NNP) ('and', 'CC') (ORGANIZATION Google/NNP) ('stock', 'NN') ('jump', 'NN') ('by', 'IN') ('5', 'CD') ('%', 'NN') ('on', 'IN') (PERSON Nifty/NNP Index/NNP) ('in', 'IN') ('the', 'DT') (GPE United/NNP States/NNPS) ('of', 'IN') (GPE America/NNP)

In [11]:
##Using sentence tokenization

entities = []
labels = []

sentence = nltk.sent_tokenize(text)
print(sentence)
for sent in sentence:
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent)),binary=False):
        if hasattr(chunk,'label'):
            entities.append(' '.join(c[0] for c in chunk))
            labels.append(chunk.label())
            
entities_labels = list(set(zip(entities,labels)))

entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

['Apple acquired Zoom in India on Wednesday 6th May 2020.This news has made Apple and Google stock jump by 5% on Nifty Index in the United States of America']

        Entities        Labels
0  United States           GPE
1           Zoom        PERSON
2          Apple        PERSON
3    Nifty Index        PERSON
4          India           GPE
5         Google  ORGANIZATION
6        America           GPE

### Using Spacy

In [12]:
import spacy 
from spacy import displacy
spacy.__version__

'3.1.3'

In [13]:
# Load SpaCy model
nlp = spacy.load("en_core_web_sm") ## small take less space
#nlp = spacy.load("en_core_web_md")
#nlp = spacy.load("en_core_web_lg")

In [14]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels}) #'Position_Start':position_start, 'Position_End':position_end})
df

                             Entities   Labels
0                             (Apple)      ORG
1                              (Zoom)      ORG
2                             (India)      GPE
3                    (Wednesday, 6th)     DATE
4                             (Apple)      ORG
5                              (5, %)  PERCENT
6                             (Nifty)      ORG
7  (the, United, States, of, America)      GPE

In [15]:
spacy.explain("GPE") ## Explain the meaning

'Countries, cities, states'